<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free Parking Checker</title>
</head>

<body>
  <h1 style="text-align: center;">Remaining</h1>
  <h2 style="text-align: center;" id="time"></h2>
  <font><strong id="remain"><br /></strong></font>




  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
    $(
      function update() {
        $.getJSON('/update', function (data) {
          $("#remain").text(data.remain);
          $("#max").text(data.max);
          $("#time").text(data.time);
          setTimeout(function () {
            update();
          }, 1000);
        });
      }
    );
  </script>

</body>

</html>